@import url('https://fonts.googleapis.com/css2?family=BioRhyme&family=Black+Ops+One&family=Bungee&family=Bungee+Shade&family=Creepster&family=Eczar&family=Ewert&family=Fruktur&family=Gravitas+One&family=Krona+One&family=Monoton&family=Montserrat:wght@400;600&family=Open+Sans:wght@300;400&family=Oswald:wght@200;300;400&family=Roboto+Condensed:ital,wght@0,700;1,400&family=Rubik:wght@900&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=IBM+Plex+Mono:wght@300&display=swap');

@import url(./botoes-secao.css);
@import url(../acordeon.js);
@import url(jogo.css);
@import url(portfolio.css);

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #191919;
    --cor-secundaria: white;
    --cor-terciaria: rgb(28, 116, 116);
    --cor-hover: rgb(cyan);

    --fonte-primaria: 'Space mono', monospace;
    --fonte-secundaria: 'IBM Plex mono', monospace;
    --fonte-terciaria: 'Fira Mono', monospace;
}


/* Pagina Principal*/
.cabecalho {
    padding: 30px 10px 0px 10px;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;

}

.cabecalho__menu {
    display: flex;
    padding: 16px;
    gap: 30px;
}

.cabecalho__menu__link {
    border: solid 4px var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
    padding: 10px 26px 10px 26px;
    border-radius: 8px;
    text-decoration: none;
    -webkit-box-shadow: 0 10px 6px -6px rgb(0, 0, 0);
    -moz-box-shadow: 0 10px 6px -6px rgb(0, 0, 0);
    box-shadow: 0 10px 6px -6px rgb(0, 0, 0);
    transition: 2s;
}

.cabecalho__menu__link:hover {
    border-color: cyan;
    background: #363f41;
    transition: 2s;
    transform: scale(1.2);

}

.minhafoto {
    width: 20%;
}

.jogo-e-nome {

    display: flex;
    margin: 1%;
    align-items: center;
    display: flex;
    flex-direction: column;

}

#menu-check {
    display: none;
    color: aqua;
}

.cabecalho__menu {
    display: none;
}

label {
    justify-content: center;
    cursor: pointer;
    position: relative;
    display: flex;
    height: 22px;
    width: 30px;
}

.menu-hamburguer {

    position: absolute;
    display: flex;
    justify-content: center;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: var(--cor-terciaria);
    transition: 0.25s ease-in-out;

}

label span:nth-child(1) {
    top: 0;
}

label span:nth-child(2) {
    top: 8px;
}

label span:nth-child(3) {
    top: 16px;
}



@media (max-width: 320px) {

    #menu-check {
        justify-content: center;
    }


    #menu-check:checked~.cabecalho__menu {
        display: flex;
    }

    .cabecalho {
        flex-direction: column;
        gap: 5px;
    }

    .cabecalho__menu {
        flex-direction: column;
        height: 10%;
        font-size: 8px;
        padding: 10px;

    }

    .cabecalho__menu__link {

        width: 50%;
        height: 10%;
        font-size: 16px;
        padding: 8px;
        margin: 1px;
        transform: scale(0.8);
    }

}

@media (max-width: 780px) {


    .cabecalho__menu {
        flex-direction: column;
    }

    .cabecalho__menu__link {

        width: 50%;
        height: 10%;
        font-size: 16px;
        padding: 8px;
        margin: 1px;
        transform: scale(1.0);
    }

    .cabecalho {
        flex-direction: column;
        gap: 5px;
        text-align: center;
    }

    #menu-check:checked~.cabecalho__menu {
        display: flex;
    }
}


@media (max-width: 1260px) {

    #menu-check:checked~.cabecalho__menu {
        display: flex;
    }

    .cabecalho {
        align-items: center;
        flex-direction: column;
        gap: 5px;
        text-align: center;
    }

    .cabecalho__menu {
        justify-content: baseline;
        text-align: center;
        align-items: center;
        gap: 5px;
    }

    .cabecalho__menu__link {
        width: 20%;
        padding: 20px 100px;
        display: flex;
        justify-content: center;

    }

}

@media (max-width: 1440px) {


    .cabecalho {
        flex-direction: column;
        align-items: center;
    }

    #menu-check:checked~.cabecalho__menu {
        display: flex;
    }

}